/* =========================================================
  INFO TAB | ATHLETE EVENTS
========================================================= */
.athlete-events {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.athlete-events__item:not(:last-child)::after {
  content: "/";
}

.athlete-events__link {
  font-size: var(--font-size-sm);

  &:hover {
    text-decoration: underline;
  }
}
