{{!-- Refle Team --}}
<section class="section rifle">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="title">Rifle Team</h2>
      <!-- Section Link -->
      <a class="section__link" href="athletes/?discipline=rifle">
        <span class="text">See all</span>
        <span class="u-sr-only">&nbsp;athletes of the Rifle team</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      The Rifle Team competes in disciplines that require stability and
      concentration. Athletes maintain high standards of accuracy and represent
      Azerbaijan at major events.
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Rifle Team Slider (main container) -->
      <div class="slider-rifle-team swiper">
        <!-- Slider Wrapper -->
        <div class="slider-rifle-team__wrapper js-slider-rifle-team">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-list-rifle-team">
            <!-- Swiper Slides -->
          </ul>

          <!-- Slider Pagination -->
          <!-- <div class="swiper-pagination js-pagination-rifle-team"></div> -->

          <!-- Slider Navigation -->
          <div class="slider-rifle-team__navigation">
            <!-- Prev Slide Button -->
            <button type="button" class="swiper-button-prev js-prev-rifle-team">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
              </svg>
            </button>

            <!-- Next Slide Button -->
            <button type="button" class="swiper-button-next js-next-rifle-team">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
