{{!-- Latest News Slider --}}
<section class="section">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Latest News</h2>
      <!-- Section Link -->
      <a class="section__link" href="news/">
        <span class="text">View all</span>
        <span class="u-sr-only">&nbsp;latest news</span>
        <svg class="icon" width="16" height="16" aria-hidden="true">
          <use href="assets/icons/sprite.svg#icon-ui-forward-right"></use>
        </svg>
      </a>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">
      The Pistol Team represents Azerbaijan in precision shooting disciplines.
      Athletes demonstrate accuracy, control, and consistent performance in
      international competitions.
    </p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- News Slider (main container) -->
      <div class="slider-latest-news swiper">
        <!-- Slider Wrapper -->
        <div class="slider-latest-news__wrapper js-slider-latest-news">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-list-latest-news">
            <!-- Swiper Slides -->
          </ul>

          <!-- Swiper Pagination -->
          <div class="swiper-pagination js-pagination-latest-news"></div>

          <!-- Swiper Navigation -->
          <div class="slider-latest-news__navigation">
            <!-- Navigation Prev Button -->
            <button class="swiper-button-prev js-prev-latest-news">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
              </svg>
            </button>

            <!-- Navigation Prev Button -->
            <button class="swiper-button-next js-next-latest-news">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
