{{!-- Filtered News Slider --}}
<section class="section" data-news="filtered">
  <div class="container">
    <!-- Section Header -->
    <header class="section__header">
      <!-- Section Title -->
      <h2 class="section__title">Filtered News</h2>
    </header>

    <!-- Section Excerpt -->
    <p class="section__excerpt">Filtered News Section Excerpt.</p>

    <!-- Section Body -->
    <div class="section__body">
      <!-- Filtered News Slider (main container) -->
      <div class="slider-filtered-news swiper">
        <!-- Slider Wrapper -->
        <div class="slider-filtered-news__wrapper js-slider-filtered-news">
          <!-- Swiper additional required wrapper -->
          <ul class="swiper-wrapper js-list-filtered-news">
            <!-- Swiper Slides -->
          </ul>

          <!-- Slider Pagination -->
          <!-- <div class="swiper-pagination js-pagination-filtered-news"></div> -->

          <!-- Slider Navigation -->
          <div class="filtered-news__navigation">
            <!-- Prev Slide Button -->
            <button class="swiper-button-prev js-prev-filtered-news">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-left"></use>
              </svg>
            </button>

            <!-- Next Slide Button -->
            <button class="swiper-button-next js-next-filtered-news">
              <svg width="32" height="32" aria-hidden="true">
                <use href="assets/icons/sprite.svg#icon-ui-chevron-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
