<button class="filters__toggle {{ addClass }}" type="button">
  <svg class="filters__toggle-icon" width="16" height="16" aria-hidden="true">
    <use href="/assets/icons/sprite.svg#icon-ui-cogs"></use>
  </svg>
  <span>Filters</span>
</button>
