<div class="accordion">
  <button type="button" data-accordion-expand>Expand all</button>
  <button type="button" data-accordion-collapse>Collapse all</button>

  <div class="accordion__item is-expanded">
    <button class="accordion__trigger" type="button" aria-expanded="true">
      Accordion Title
    </button>

    <div class="accordion__content">Accordion Content</div>
  </div>

  <div class="accordion__item">
    <button class="accordion__trigger" type="button" aria-expanded="false">
      Accordion Title
    </button>

    <div class="accordion__content">Accordion Content</div>
  </div>
</div>
