{{!-- Competition Banner Mount Point --}}
{{!-- Competition Banner --}}

<div class="competition-banner {{ class }}">
  <div class="competition-banner__content">
    <div class="competition-banner__meta">
      <span class="competition-banner__status">Upcoming Event</span>

      <p class="competition-banner__timer">
        <span class="competition-banner__timer-label">Starts In</span>
        <span class="competition-banner__timer-value">12 Days</span>
      </p>
    </div>

    <div class="competition-banner__main">
      <h2 class="competition-banner__title">
        ISSF European Championship -
        <span class="competition-banner__disciplines">
          Pistol / Rifle / Shotgun
        </span>
      </h2>

      <p class="competition-banner__location">
        <svg class="competition-banner__flag" width="43" height="32">
          <use href="assets/icons/flags/sprite.svg#icon-flag-es"></use>
        </svg>
        <span class="competition-banner__venue">Granada, Spain</span>
      </p>

      <p class="competition-banner__date">26 May - 30 May, 2026</p>

      <p class="competition-banner__description">
        Follow Azerbaijan national team performance, schedules and live updates.
      </p>
    </div>
  </div>

  <div class="competition-banner__actions">
    <a href="competitions/" class="competition-banner__link-btn">
      View Event
    </a>
  </div>
</div>
