/* =========================================================
  ATHLETE INFO TAB
========================================================= */
.athlete-info.is-active {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}

.athlete-info__details {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.athlete-info__column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}

/* =========================================================
  ATHLETE INFO GROUP
========================================================= */
.athlete-info-group__header {
  margin-bottom: var(--space-lg);
  padding-bottom: var(--space-md);

  border-bottom: 1px solid var(--color-divider);
}

.athlete-info-group__title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-snug);
  text-transform: uppercase;
}

/* =========================================================
  INFO LIST
========================================================= */
.athlete-info-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.athlete-info-list__item {
  display: flex;
  align-items: baseline;
  gap: var(--space-lg);
}

.athlete-info-list__label {
  flex-shrink: 0;
  width: 160px;

  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: var(--line-height-relaxed);
  text-transform: uppercase;

  @media (min-width: 576px) {
    width: 180px;
  }

  @media (min-width: 1024px) {
    width: 220px;
  }
}

.athlete-info-list__value {
  flex: 1 1 auto;
  font-size: var(--font-size-sm);
}
