<section class="competition-schedule">
  <div class="competition-schedule__days">
    <!-- Day -->

    <section class="schedule-day">
      <header class="schedule-day__header">
        <h3 class="schedule-day__title">Tuesday</h3>

        <time class="schedule-day__date" datetime="2026-06-16">
          16 Jun 2026
        </time>
      </header>

      <div class="schedule-day__sessions">
        <article class="schedule-session">
          <div class="schedule-session__time">—</div>

          <div class="schedule-session__content">Arrival of Delegations</div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:00 – 16:00</div>

          <div class="schedule-session__content">Equipment Control</div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:00 – 16:00</div>

          <div class="schedule-session__content">
            Unofficial Training All Ranges
          </div>
        </article>
      </div>
    </section>

    <!-- Day -->

    <section class="schedule-day">
      <header class="schedule-day__header">
        <h3 class="schedule-day__title">Wednesday</h3>

        <time class="schedule-day__date" datetime="2026-06-17">
          17 Jun 2026
        </time>
      </header>

      <div class="schedule-day__sessions">
        <article class="schedule-session">
          <div class="schedule-session__time">08:00 – 16:00</div>

          <div class="schedule-session__content">Equipment Control</div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:00 – 10:00</div>

          <div class="schedule-session__content">
            Pre-event Training 10m Air Pistol Women Junior Relay 1
          </div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:00 – 10:30</div>

          <div class="schedule-session__content">
            Pre-event Training 50m Rifle 3 Positions Women Junior Elimination
            Relay 1
          </div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:00 – 13:00</div>

          <div class="schedule-session__content">
            Pre-event Training 25m Rapid Fire Pistol Men Junior Stage 1 – Relay
            1 to 8
          </div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">16:00</div>

          <div class="schedule-session__content">
            Technical Meeting Rifle / Pistol / Skeet
          </div>
        </article>
      </div>
    </section>

    <!-- Day -->

    <section class="schedule-day">
      <header class="schedule-day__header">
        <h3 class="schedule-day__title">Thursday</h3>

        <time class="schedule-day__date" datetime="2026-06-18">
          18 Jun 2026
        </time>
      </header>

      <div class="schedule-day__sessions">
        <article class="schedule-session">
          <div class="schedule-session__time">08:00 – 18:00</div>

          <div class="schedule-session__content">Equipment Control</div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">09:15 – 10:30</div>

          <div class="schedule-session__content">
            10m Air Pistol Women Junior Relay 1
          </div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">14:00</div>

          <div class="schedule-session__content">
            Final 10m Air Pistol Women Junior
          </div>
        </article>

        <article class="schedule-session">
          <div class="schedule-session__time">14:45</div>

          <div class="schedule-session__content">Medal Ceremony APWJ</div>
        </article>
      </div>
    </section>
  </div>
</section>
