<!-- Сompetition Hero -->
<section class="page-intro competition-hero">
  <div class="page-intro__wrapper container js-competition-hero">
    <!-- Сompetition Hero Media -->
    <div class="page-intro__media">
      <img
        class="page-intro__image"
        src="assets/images/competitions/issf-junior-world-champ-suhl-2026/issf-junior-world-champ-suhl-2026-cover.jpg"
        alt="ISSF Junior World Championship, Suhl 2026"
        width="640"
        height="360"
        loading="lazy"
      />
      <div class="page-intro__overlay">
        <!-- Competition Facts -->
        <!-- <ul class="competition-facts">
          <li class="fact-card">
            <span class="fact-card__value">650</span>
            <span class="fact-card__label">Athletes</span>
          </li>

          <li class="fact-card">
            <span class="fact-card__value">45</span>
            <span class="fact-card__label">Nations</span>
          </li>

          <li class="fact-card">
            <span class="fact-card__value">27</span>
            <span class="fact-card__label">Events</span>
          </li>

          <li class="fact-card">
            <span class="fact-card__value">3</span>
            <span class="fact-card__label">Disciplines</span>
          </li>
        </ul> -->
      </div>
    </div>

    <!-- Сompetition Hero Content -->
    <div class="page-intro__content">
      <!-- Сompetition Status Line -->
      <header class="page-intro__header">
        <span class="competition-hero__status competition-hero__status--live">
          Live
        </span>
      </header>

      <div class="page-intro__body">
        {{!-- Сompetition Edition --}}
        <span class="competition-hero__edition">
          ISSF Junior World Championship
        </span>

        <!-- Сompetition Disciplines -->
        <ul class="competition-hero__disciplines">
          <li class="competition-hero__discipline">
            <a class="link" href="competitions/?discipline=rifle">Rifle</a>
          </li>
          <li class="competition-hero__discipline">
            <a class="link" href="competitions/?discipline=pistol">Pistol</a>
          </li>
          <li class="competition-hero__discipline">
            <a class="link" href="competitions/?discipline=shotgun">Shotgun</a>
          </li>
        </ul>

        <!-- Сompetition Excerpt -->
        <p class="competition-hero__excerpt">
          Azerbaijan's Ruslan Lunev claimed gold in the 10m Air Pistol Men event
          at the ISSF competition in Granada, Spain, delivering a composed
          performance against a strong international field.
        </p>
      </div>

      {{!-- Сompetition Hero Footer --}}
      <div class="page-intro__footer">
        <!-- Сompetition Meta -->
        <div class="competition-meta">
          <!-- Competition Country Flag -->
          <div
            class="competition-meta__flag-wrapper"
            aria-label="Competition country flag"
          >
            <svg
              class="competition-meta__flag"
              width="43"
              height="32"
              aria-hidden="true"
            >
              <use href="assets/icons/flags/sprite.svg#icon-flag-de"></use>
            </svg>
          </div>

          <!-- Competition Meta Details -->
          <div class="competition-meta__info">
            <!-- Competition Location -->
            <p class="competition-meta__location">
              <a
                class="link"
                href="competitions/?city=suhl&amp;country=germany"
                data-city="suhl"
                data-country="de"
              >
                Suhl, Germany
              </a>
            </p>

            <!-- Competition Dates -->
            <p class="competition-meta__date">
              <time datetime="2022-06-16">16 Jun</time> -
              <time datetime="2027-06-22">26 Jun, 2026</time>
            </p>
          </div>
        </div>

        <!-- Social Share Buttons -->
        <div class="share competition-hero__share">
          {{!-- Social Media Share Buttons --}}
          <ul class="share__list" aria-label="Social links">
            {{!-- Telegram Share Button --}}
            <li class="share__item">
              <a
                class="share__button"
                href="https://telegram.me/share/url?url=https://doriandevua.github.io/shooting-sports/&text=Azerbaijan Shooting Sports"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Telegram"
              >
                <svg class="icon" width="20" height="20" aria-hidden="true">
                  <use
                    href="assets/icons/sprite.svg#icon-social-telegram"
                  ></use>
                </svg>
              </a>
            </li>

            {{!-- X (Twitter) Share Button --}}
            <li class="share__item">
              <a
                class="share__button"
                href="https://twitter.com/intent/tweet?url=https://doriandevua.github.io/shooting-sports/&text=Azerbaijan Shooting Sports"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="X (Twitter)"
              >
                <svg class="icon" width="20" height="20" aria-hidden="true">
                  <use href="assets/icons/sprite.svg#icon-social-x"></use>
                </svg>
              </a>
            </li>

            {{!-- Facebook Share Button --}}
            <li class="share__item">
              <a
                class="share__button"
                href="https://www.facebook.com/sharer/sharer.php?u=https://doriandevua.github.io/shooting-sports/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook"
              >
                <svg class="icon" width="20" height="20" aria-hidden="true">
                  <use
                    href="assets/icons/sprite.svg#icon-social-facebook"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
