{{! Page Content }}
<main class="page-content">
  {{!-- Page Hero Section --}}
  {{> layouts/page-hero/index }}

  {{!-- Сompetition Page Intro/Preview --}}
  {{> layouts/pages/competition/intro }}

  <!-- Competition Page Tabs-->
  {{> layouts/pages/competition/tabs }}
</main>
