<section class="sidebar-block">
  <div class="sidebar-block__header">
    <h2 class="sidebar-block__title">Competition Tags</h2>
  </div>

  <!-- Event List -->
  <div class="sidebar-block__body competition-page__tags tags">
    {{!-- Discipline Tags --}}
    <ul class="tags__list js-article-tags">
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=10m_air_rifle_men"
          title="10m Air Rifle Men"
        >
          International
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=10m_air_rifle_women"
          title="10m Air Rifle Women"
        >
          Junior
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=10m_air_rifle_mixed"
          title="10m Air Rifle Mixed Team"
        >
          10ARMT
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=50m_rifle_prone_men"
          title="50m Rifle Prone Men"
        >
          50RPM
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=50m_rifle_prone_women"
        >
          50RPW
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=50m_rifle_3_positions_men"
        >
          50R3PM
        </a>
      </li>
      <li class="tags__item">
        <a
          class="tags__link"
          href="disciplines/?discipline=50m_rifle_3_positions_women"
        >
          50R3PW
        </a>
      </li>
    </ul>
  </div>
</section>
