<!-- Coaching -->
<section class="athlete-info-group js-coaching">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Coaching</h3>
  </header>

  <ul class="athlete-info-list">
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Personal coach</span>

      <span class="athlete-info-list__value">Vladimir Lunev</span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">National coach</span>

      <span class="athlete-info-list__value">Vladimir Lunev</span>
    </li>
  </ul>
</section>
