<!-- Education & Career -->
<section class="athlete-info-group js-education-career">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Education & Career</h3>
  </header>

  <ul class="athlete-info-list">
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label"> Higher education </span>

      <span class="athlete-info-list__value">
        Masters degree sports academy
      </span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label"> Profession </span>

      <span class="athlete-info-list__value"> Athlete </span>
    </li>
  </ul>
</section>
