<!-- Personal Interests -->
<section class="athlete-info-group js-personal-interests">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Personal Interests</h3>
  </header>

  <ul class="athlete-info-list">
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label"> Hobbies </span>

      <span class="athlete-info-list__value"> Internet, reading, chess </span>
    </li>
  </ul>
</section>
