<!-- Personal Information -->
<section class="athlete-info-group js-personal-info">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Personal Information</h3>
  </header>

  <ul class="athlete-info-list">
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Nationality</span>

      <span class="athlete-info-list__value">Azerbaijani</span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Date of birth</span>

      <time class="athlete-info-list__value" datetime="1989-07-25">
        25 July 1989
      </time>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Place of birth</span>

      <span class="athlete-info-list__value">Baku, Azerbaijan</span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Hometown</span>

      <span class="athlete-info-list__value">Baku, Azerbaijan</span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Marital status</span>

      <span class="athlete-info-list__value">Single</span>
    </li>
  </ul>
</section>
