<!-- Physical Metrics | Profile -->
<section class="athlete-info-group js-physical-metrics">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Physical Metrics</h3>
  </header>

  <ul class="athlete-info-list">
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Height</span>

      <span class="athlete-info-list__value">183 cm</span>
    </li>

    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Weight</span>

      <span class="athlete-info-list__value">80 kg</span>
    </li>
  </ul>
</section>
