<!-- Sports Information -->
<section class="athlete-info-group js-sports-info">
  <header class="athlete-info-group__header">
    <h3 class="athlete-info-group__title">Sports Information</h3>
  </header>
  <!-- <p>{{ test.full_name }}</p> -->

  <ul class="athlete-info-list">
    <!-- started_shooting_year -->
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Practising shooting since</span>

      <span class="athlete-info-list__value">2002</span>
    </li>

    <!--  started_competing_year -->
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Start of competing</span>

      <span class="athlete-info-list__value">2006</span>
    </li>

    <!--  handedness.short_name -->
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Dominant hand</span>

      <span class="athlete-info-list__value">Right</span>
    </li>

    <!-- dominant_eye.short_name -->
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Master eye</span>

      <span class="athlete-info-list__value">Right</span>
    </li>

    <!-- events.length -->
    <li class="athlete-info-list__item">
      <span class="athlete-info-list__label">Events</span>

      <div class="athlete-info-list__value">
        <ul class="athlete-events">
          <!-- events.map(e => e.code).join('') -->
          <li class="athlete-events__item">
            <a class="athlete-events__link" href="#">10APM</a>
          </li>

          <li class="athlete-events__item">
            <a class="athlete-events__link" href="#">10APMT</a>
          </li>

          <li class="athlete-events__item">
            <a class="athlete-events__link" href="#">25RFPM</a>
          </li>

          <li class="athlete-events__item">
            <a class="athlete-events__link" href="#">50RFPM</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
